<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="<%= full_url_for(`/rss.xml`) %>" />
  <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%= full_url_for(`/atom.xml`) %>" />
  <link rel="alternate" type="application/json" title="<%= config.title %>" href="<%= full_url_for(`/feed.json`) %>" />

  <%- open_graph({twitter_id: theme.twitter, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (config.feed) { %>
    <%- feed_tag() %>
  <% } else if (theme.rss) { %>
    <%- feed_tag(theme.rss) %>
  <% } %>
  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>
  <% if (config.highlight.enable){ %> 
    <%- css('typeface-source-code-pro/index.css') %>
  <% } %>
  <%- css('css/style') %>
  <% if (theme.fancybox){ %>
    <%- css('fancybox/jquery.fancybox.min.css') %>
  <% } %>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MNJ9H3Z');</script>
  <!-- End Google Tag Manager -->
  
</head>
